@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@200&family=Spartan:wght@900&display=swap');

/*------------------------------------------------- Variable CSS */

:root {
    --header-height: 3rem;

    /* colours */
    --hue-color: 210;
    --first-color: hsl(var(--hue-color), 35%, 48%);
    --first-color-second: hsl(var(--hue-color), 50%, 30%);
    --first-color-alt: hsl(var(--hue-color), 25%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 25%, 75%);

    --title-color: hsl(var(--hue-color), 45%, 32%);
    --text-color: hsl(var(--hue-color), 39%, 27%);
    --mainText: hsl(var(--hue-color), 30%, 22%);
    --text-color-light: hsl(var(--hue-color), 25%, 90%);
    --input-color: hsl(var(--hue-color), 26%, 50%);
    --body-color: hsl(var(--hue-color), 60%, 95%);
    --container-color: #FAFAFA;
    --scroll-bar-color: hsl(var(--hue-color), 25%, 85%);
    --scroll-thumb-color: hsl(var(--hue-color), 25%, 65%);
    --gradient-color: linear-gradient(0deg, rgba(128,153,179,1) 0%, rgba(37,73,109,1) 100%);

    /* fonts */
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Spartan', sans-serif;

    --big-font-size: 2 rem;
    --h1-font-size: 1.5 rem;
    --h2-font-size: 1.25 rem;
    --h3-font-size: 1.12 rem;
    --normal-font-size: 0.9 rem;
    --small-font-size: 0.75 rem;
    --smaller-font-size: 0.6 rem;

    --font-medium: 400;
    --font-semi-bold: 550;
    --font-bold: 700;

    /* margin bottom */
    --mb-0-25: 0.25 rem;
    --mb-0-5: 0.5 rem;
    --mb-0-75: 0.75 rem;
    --mb-1: 1 rem;
    --mb-1-25: 1.25 rem;
    --mb-1-5: 1.5 rem;
    --mb-2: 2 rem;
    --mb-2-5: 2.5 rem;
    --mb-3: 3 rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
} 

/* font size for larger devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3 rem;
        --h1-font-size: 2.2 rem;
        --h2-font-size: 1.5 rem;
        --h3-font-size: 1.25 rem;
        --normal-font-size: 1 rem;
        --small-font-size: 0.90 rem;
        --smaller-font-size: 0.80 rem;
    }
}

/*------------------------------------------------- Dark Theme */

/* variable color dark theme */
body.dark-theme {
    --first-color: hsl(var(--hue-color), 35%, 40%);
    --first-color-second: hsl(var(--hue-color), 66%, 21%);
    --first-color-alt: hsl(var(--hue-color), 25%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 25%, 75%);

    --title-color: hsl(var(--hue-color), 35%, 95%);
    --text-color: hsl(var(--hue-color), 35%, 85%);
    --mainText: hsl(var(--hue-color), 30%, 70%);
    --text-color-light: hsl(var(--hue-color), 25%, 90%);
    --input-color: hsl(var(--hue-color), 29%, 29%);
    --body-color: hsl(var(--hue-color), 60%, 16%);
    --container-color: hsl(var(--hue-color), 26%, 60%);
    --scroll-bar-color: hsl(var(--hue-color), 15%, 50%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 40%);
}  

/* nav buttons dark/light theme */
.nav__btns {
    display: flex;
    align-items: center;
    padding-left: var(--mb-0-5);
    margin: 0;
    margin-top: -5px;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*------------------------------------------------- Base Styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--first-color-second);
}

img {
    max-width: 100%;
    height: auto;
}

/* reusable CSS classes */
.section {
    padding: 2rem 0 4 rem;
    margin: auto;
    min-height: 80vh;
}

.section__title {
    font-size: var(--big-font-size);
    font-family: var(--body-font);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*------------------------------------------------- Layout */

.container {
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*------------------------------------------------- Nav Styling */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: var(--h3-font-size);
    cursor: pointer;
    margin-right: 2rem;
}

.nav__togle:hover {
    color: var(--first-color);
}

.navbar-brand {
    font-family: var(--title-font);
}

@media screen and (max-width: 758px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        right: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4 px rgba(37,73,109,1);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.5s;
    }
}


.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* show menu */
.show-menu {
    bottom: 0;
}

/* active link */
.active-link {
    color: var(--first-color);
}

/* change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(37,73,109,1);
}