@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100&family=Spartan:wght@900&display=swap');

/* 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Spartan', sans-serif;
*/

h1 {
    font-family: 'Spartan', sans-serif;
}
